{{ root_dir_nfs }}/nfs/MailQueues *(rw,sync,no_subtree_check,no_root_squash)
{{ root_dir_nfs }}/nfs/MailStorage *(rw,sync,no_subtree_check,no_root_squash)
{{ root_dir_nfs }}/nfs/MailArchive *(rw,sync,no_subtree_check,no_root_squash)
{{ root_dir_nfs }}/nfs/MailRecord *(rw,sync,no_subtree_check,no_root_squash)
{{ root_dir_nfs }}/nfs/IndexFiles *(rw,sync,no_subtree_check,no_root_squash)