TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
IPV6_AUTOCONF=no
IPV6_DEFROUTE=no
IPV6_FAILURE_FATAL=no
NAME=enp1s0
DEVICE=enp1s0
ONBOOT=yes
AUTOCONNECT_PRIORITY=-999
IPADDR={{ ansible_default_ipv4.address }}
NETMASK={{  ansible_default_ipv4.netmask }}
GATEWAY={{ ansible_default_ipv4.gateway }}
DNS1={{ dns_forwarder_ipv4 }}
DNS2={{ ansible_default_ipv4.address }}
SEARCH={{ ansible_domain }}