[defaults]
host_key_cheking = false
inventory = inventory
remote_user = deployer
ask_pass = false
roles_path = roles
private_key_file = /home/deployer/.ssh/authorized_keys

[privilege_escalation]
become = true
become_user = root
